<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PINZ AI - YouTube Shorts</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>PINZ AI</h1>
    <form id="video-form">
        <input type="text" id="youtube-url" placeholder="Masukkan URL YouTube" required>
        <select id="duration">
            <option value="30"> < 30 detik </option>
            <option value="60">30 - 60 detik</option>
            <option value="180">60 - 180 detik</option>
        </select>
        <button type="submit">Generate</button>
    </form>

    <div id="output"></div>

    <script src="/static/script.js"></script>
</body>
</html>
